*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    background-color: gold;
    width: max-width;
    height: 100vh;
    flex-direction: column;
    animation: changebg 2s infinite ease;
}

@keyframes changebg{
    0%{
        background-color: goldenrod;
    }
    50%{
        background-color: gold;
    }
    100%{
        background-color: goldenrod;
    }
}

#cup{
    position:relative;
    animation: ripple 2s infinite ease;
}

@keyframes ripple{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

#text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
}

#buttons{
    position: fixed;
    bottom: 5%;
    right:5%;
    
}

button{
    outline: none;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    border:1px solid gold;
    color:white;
    background-color: goldenrod;
    font-weight: bolder;
}

button:hover{
    background-color: gold;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid black;
}

button a{
    text-decoration: none;
    color: white;
}